<div class="component">
    <div class="heading-container">
        <img class="heading-background-image" src="../../../assets/images/theater.png" />
        <div class="heading-centered">Welcome to CineMatch!</div>
    </div>
    <div>
        <h1>How it works:</h1>
    </div>
    <div class="box-row">
        <div class="box">
            <h2>Step 1:</h2>
            <p>Create an account to view more than 600,000 movies.</p>
        </div>
        <div class="box">
            <h2>Step 2:</h2>
            <p>Like movies and add movies to your watch list.</p>
        </div>
        <div class="box">
            <h2>Step 3:</h2>
            <p>Comment on movies to let others know what you thought, and view comments from other users.</p>
        </div>
    </div>
    <button class="centered" routerLink="/login">Get Started Now!</button>
</div>