<!-- Insert nav bar component once made -->
<nav style="box-sizing:border-box;width:100%;height:80px;background-color:#C39F29;"></nav> <!-- Placeholder-->
<div class="component">
    <form (ngSubmit)="getMovies()" #searchForm="ngForm" class="search-container">
        <span class="material-icons" id="search-icon">search</span>
        <input [(ngModel)]='searchMovie' name='searchMovie' class="search-input" type="text" placeholder="Search for a movie..."/>
    </form>
    <mat-spinner class="spinner" *ngIf="isMovies && movies.length === 0"></mat-spinner>
    <div *ngIf="!isMovies" class="no-movies">There are no movies that matched your search.</div>
    <div *ngIf="movies" class="movies-container">
        <div *ngFor="let movie of movies" class="movie-card">
            <app-movie-search-card [movie]="movie"></app-movie-search-card>
        </div>
    </div>
</div>
