.component {
    width: 100%;
    box-sizing: border-box;
    font-family: var(--primaryFont);
    color: var(--theBlackColor);
}
.heading {
    font-size: 32px;
    font-family: var(--secondaryFont);
    padding: 20px 0 10px 20px;
}
.user-info-container {
    padding: 0 0 10px 50px;
}
.user-header {
    font-weight: 500;
    font-size: 24px;
    display: inline;
}
.user-info {
    font-size: 18px;
    display: inline;
    margin-left: 15px;
}
.liked-movies {
    display: flex;
    flex-wrap: wrap;
    padding: 0 42px;
    width: 100%;
}
.movie-container {
    width: fit-content;
    height: fit-content;
    margin: 8px;
}
.movie-image {
    width: 150px;
    height: 225px;
    object-fit: cover;
}
.view-more {
    font-size: 24px;
    margin: 10px 0 10px 20px;
}