<!-- Insert nav bar component once made -->
<nav style="width:100%;height:80px;background-color:#C39F29;"></nav> <!-- Placeholder-->
<div class="component">
    <div class="search-container">
        <img />
        <input type="text" placeholder="Search for a movie..."/>
        <button>Search</button>
    </div>
    <div class="movies-container">
        <!-- If searched movie -->
        <!-- List the search results -->
        <!-- Else -->
        <h1>Trending</h1>
        <div class="carousel-container">
            <!-- Insert carousel once the component is made -->
        </div>
        <h1>Explore</h1>
        <div class="carousel-container">
            <!-- Insert carousel once the component is made -->
        </div>
    </div>
</div>