/* * {
    padding: 0;
    margin: 0;
  }
  
  .container {
    margin-left: auto; 
    margin-right: auto; 
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100vh;
    flex-wrap: no-wrap;
    max-width: 70%
    
    
  }
  
  .container div {
    width: 50%;
    height: 200px;
  }
  
  .picture {
    background: #4451c2;
  }
  
  .text {
    background: #f451c2;
  }
  
  @media (max-width: 600px) {
    .container {
      flex-direction: column;
    }
    .container div {
      width: 100%;
    }
  } */

  

.card-horizontal {
    display: flex;
    flex: 1 1 auto;
}

.card-body{
    margin-left: auto; 
    margin-right: auto; 
}

.img-square-wrapper{
    max-width: 100%;
    height: auto;
}

.card-custom-horizontal {
    background-color: #efefef;
    display: flex;
    margin-bottom: 1em;
  }
  
  .card-custom-img {
    background-color: #242424;
  }
  
  .card-custom-img .cover {
    width: 100%;
    min-width: 200px;
    object-fit: cover;
  }
  
  .card-custom-body {
    background-color: #efefef;
    padding: 1em;
  }
  
  @media only screen and (max-width: 575.98px) {
      .card-custom-horizontal {
          flex-direction: column;
      }
  }

  .card-custom-img{
      width: 20%; 
      /* height: 0%; */
  }