<h1>Liked Movies</h1>

<div class="container">
  <div class="row">
    <div class="col-md-12 py-5" *ngFor="let movie of movies">

      <div class="card-custom-horizontal">
        <div class="card-custom-img"><img class="cover" [src]="movie.img" alt="Image of movie poster"></div>
        <div class="card-custom-body">
          <p>{{movie.details}}</p>
          <p>Has ut autem mucius, nec in vero epicurei. Mei no possim commodo instructior. Ne zril comprehensam vix, mutat oratio et sea. Cetero alienum recusabo ex cum, autem ludus interpretaris eam te.</p>
        </div>
      </div>
      
      
      
    </div>
  </div>
</div>