<!-- <div>

</div>
<h1>Liked Movies</h1>

<div class="container">
    <div class="picture">picture</div>
    <div class="text">Name of movie</div>
</div>


<div class="container">
    <div class="picture">picture</div>
    <div class="text">Name of move</div>
</div> -->


<div class="card">
    <img src="https://cdn.shopify.com/s/files/1/1416/8662/products/titanic_1997_styleA_original_film_art_d26e81c0-1b87-4076-9da4-9fcdc0389ea5_5000x.jpg?v=1607475298" alt="Avatar" style="width:100%">
    <div class="container">
      <h4><b>John Doe</b></h4>
      <p>Architect & Engineer</p>
    </div>
  </div>