<button (click) = "logout()">Logout</button>
<header>
  <h1>Liked Movies</h1>
</header>


<div class="container">
  <div class="row">
    <div class="col-md-12 py-5" *ngFor="let movie of likedMovies">

      <div class="card-custom-horizontal">

        <div class="card-custom-img"><img class="cover" [src]="movie.image" alt="Image of movie poster"></div>
        <div class="card-custom-body justify-content-center">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-4 ">
                <p>Title: {{movie.title}}</p>
                <p>Release Date: {{movie.releaseDate | date}}</p>
                <p>Rating: {{movie.rating}}</p>
              </div>
              <div class="col-md-6 ">
                Summary: {{movie.description}}
              </div>
            </div>
          </div>
                     
        </div>
      </div>

    </div>
  </div>
</div>



